@{
    List<StireModel> stiri = Model;
}

<div class="container my-4">
    <h2 class="text-center mb-4">Căutare</h2>
    <form asp-controller="Search" asp-action="SearchPortal">
        <div class="input-group col-sm-10 col-md-8 mx-auto mb-4">
            <input type="text" class="form-control rounded-start" placeholder="Titlu știre..." name="searchTerm" aria-label="Search" value="@ViewBag.SearchTerm" />
            <input type="date" class="form-control" name="dataInf" value="@ViewBag.DataInf?.ToString("yyyy-MM-dd")" />
            <input type="date" class="form-control" name="dataSup" value="@ViewBag.DataSup?.ToString("yyyy-MM-dd")" />
            <button class="btn btn-success" type="submit" style="border-radius: 0 0.25rem 0.25rem 0;">Căutare</button>
        </div>
    </form>
    @if (stiri != null)
    {
        <h2 class="text-center mb-4">Rezultatele căutării</h2>
        @if (stiri.Count > 0)
        {
            <ul class="list-unstyled">
                @foreach (var stire in stiri)
                {
                    <li class="mb-3">
                        <div class="card border-1 shadow-sm">
                            <div class="card-body">
                                <h3 class="card-title">@stire.Titlu</h3>
                                <a asp-controller="Stire" asp-action="Stire" asp-route-stireid="@stire.Id" class="btn btn-primary">Citește mai departe</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <p class="text-warning text-center">Nicio știre nu conține secvența căutată</p>
        }
    }
</div>




